node_modules
**/node_modules
.git
dist
**/dist
dist-openapi
**/dist-openapi
coverage
**/coverage
.turbo
*.log
.DS_Store
.env
.env.local
.env.test
infra/docker/.env
infra/docker/.env.test
caddy-local-root.crt
